body {
  background-color: #ec1aa6; /* azul escuro */
  color: #e0e0de; /* dourado escuro */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
  background-color: #ec1aa6; /* azul mais escuro */
  color: #e0e0de; /* dourado claro para header e footer */
  padding: 20px 0;
}

a {
  color: #e0e0de; /* dourado escuro */
  text-decoration: none;
}

a:hover {
  color: #e0e0de; /* dourado mais escuro no hover */
}

.badge.bg-secondary {
  background-color: #e0e0de !important; /* dourado mais escuro para badges */
  color: #ec1aa6;
}
